@model GameEngine.GameStateModel
@{
    Layout = "";
    ViewBag.Title = "Settlers Of Catan";
    var hex0path = @Model.Board.HexGridImgPath[0];
}

<html>
<head>
    <link href="~/Content/settlerStyle.css" rel="stylesheet" />
</head>


<body>
    @Model.Board.HexGridImgPath[2]
    <div class="board">
        <div class="hexagon"><img class="hexPosition" id="hexShape0" src=@Model.Board.HexGridImgPath[0]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape1" src=@Model.Board.HexGridImgPath[1]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape2" src=@Model.Board.HexGridImgPath[2]></img></div>

        <div class="hexagon"><img class="hexPosition" id="hexShape3" src=@Model.Board.HexGridImgPath[3]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape4" src=@Model.Board.HexGridImgPath[4]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape5" src=@Model.Board.HexGridImgPath[5]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape6" src=@Model.Board.HexGridImgPath[6]></img></div>

        <div class="hexagon"><img class="hexPosition" id="hexShape7" src=@Model.Board.HexGridImgPath[7]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape8" src=@Model.Board.HexGridImgPath[8]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape9" src=@Model.Board.HexGridImgPath[9]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape10" src=@Model.Board.HexGridImgPath[10]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape11" src=@Model.Board.HexGridImgPath[11]></img></div>

        <div class="hexagon"><img class="hexPosition" id="hexShape12" src=@Model.Board.HexGridImgPath[12]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape13" src=@Model.Board.HexGridImgPath[13]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape14" src=@Model.Board.HexGridImgPath[14]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape15" src=@Model.Board.HexGridImgPath[15]></img></div>

        <div class="hexagon"><img class="hexPosition" id="hexShape16" src=@Model.Board.HexGridImgPath[16]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape17" src=@Model.Board.HexGridImgPath[17]></img></div>
        <div class="hexagon"><img class="hexPosition" id="hexShape18" src=@Model.Board.HexGridImgPath[18]></img></div>

        <div class="structureDot" id="s0"></div>
        <div class="structureDot" id="s1"></div>
        <div class="structureDot" id="s2"></div>
        <div class="structureDot" id="s3"></div>
        <div class="structureDot" id="s4"></div>
        <div class="structureDot" id="s5"></div>
        <div class="structureDot" id="s6"></div>
        <div class="structureDot" id="s7"></div>
        <div class="structureDot" id="s8"></div>
        <div class="structureDot" id="s9"></div>
        <div class="structureDot" id="s10"></div>
        <div class="structureDot" id="s11"></div>
        <div class="structureDot" id="s12"></div>
        <div class="structureDot" id="s13"></div>
        <div class="structureDot" id="s14"></div>
        <div class="structureDot" id="s15"></div>
        <div class="structureDot" id="s16"></div>
        <div class="structureDot" id="s17"></div>
        <div class="structureDot" id="s18"></div>
        <div class="structureDot" id="s19"></div>
        <div class="structureDot" id="s20"></div>
        <div class="structureDot" id="s21"></div>
        <div class="structureDot" id="s22"></div>
        <div class="structureDot" id="s23"></div>
        <div class="structureDot" id="s24"></div>
        <div class="structureDot" id="s25"></div>
        <div class="structureDot" id="s26"></div>
        <div class="structureDot" id="s27"></div>
        <div class="structureDot" id="s28"></div>
        <div class="structureDot" id="s29"></div>
        <div class="structureDot" id="s30"></div>
        <div class="structureDot" id="s31"></div>
        <div class="structureDot" id="s32"></div>
        <div class="structureDot" id="s33"></div>
        <div class="structureDot" id="s34"></div>
        <div class="structureDot" id="s35"></div>
        <div class="structureDot" id="s36"></div>
        <div class="structureDot" id="s37"></div>
        <div class="structureDot" id="s38"></div>
        <div class="structureDot" id="s39"></div>
        <div class="structureDot" id="s40"></div>
        <div class="structureDot" id="s41"></div>
        <div class="structureDot" id="s42"></div>
        <div class="structureDot" id="s43"></div>
        <div class="structureDot" id="s44"></div>
        <div class="structureDot" id="s45"></div>
        <div class="structureDot" id="s46"></div>
        <div class="structureDot" id="s47"></div>
        <div class="structureDot" id="s48"></div>
        <div class="structureDot" id="s49"></div>
        <div class="structureDot" id="s50"></div>
        <div class="structureDot" id="s51"></div>
        <div class="structureDot" id="s52"></div>
        <div class="structureDot" id="s53"></div>

        <div class="road" id="r0"></div>
        <div class="road" id="r1"></div>
        <div class="road" id="r2"></div>
        <div class="road" id="r3"></div>
        <div class="road" id="r4"></div>
        <div class="road" id="r5"></div>
        <div class="road" id="r6"></div>
        <div class="road" id="r7"></div>
        <div class="road" id="r8"></div>
        <div class="road" id="r9"></div>
        <div class="road" id="r10"></div>
        <div class="road" id="r11"></div>
        <div class="road" id="r12"></div>
        <div class="road" id="r13"></div>
        <div class="road" id="r14"></div>
        <div class="road" id="r15"></div>
        <div class="road" id="r16"></div>
        <div class="road" id="r17"></div>
        <div class="road" id="r18"></div>
        <div class="road" id="r19"></div>
        <div class="road" id="r20"></div>
        <div class="road" id="r21"></div>
        <div class="road" id="r22"></div>
        <div class="road" id="r23"></div>
        <div class="road" id="r24"></div>
        <div class="road" id="r25"></div>
        <div class="road" id="r26"></div>
        <div class="road" id="r27"></div>
        <div class="road" id="r28"></div>
        <div class="road" id="r29"></div>
        <div class="road" id="r30"></div>
        <div class="road" id="r31"></div>
        <div class="road" id="r32"></div>
        <div class="road" id="r33"></div>
        <div class="road" id="r34"></div>
        <div class="road" id="r35"></div>
        <div class="road" id="r36"></div>
        <div class="road" id="r37"></div>
        <div class="road" id="r38"></div>
        <div class="road" id="r39"></div>
        <div class="road" id="r40"></div>
        <div class="road" id="r41"></div>
        <div class="road" id="r42"></div>
        <div class="road" id="r43"></div>
        <div class="road" id="r44"></div>
        <div class="road" id="r45"></div>
        <div class="road" id="r46"></div>
        <div class="road" id="r47"></div>
        <div class="road" id="r48"></div>
        <div class="road" id="r49"></div>
        <div class="road" id="r50"></div>
        <div class="road" id="r51"></div>
        <div class="road" id="r52"></div>
        <div class="road" id="r53"></div>
        <div class="road" id="r54"></div>
        <div class="road" id="r55"></div>
        <div class="road" id="r56"></div>
        <div class="road" id="r57"></div>
        <div class="road" id="r58"></div>
        <div class="road" id="r59"></div>
        <div class="road" id="r60"></div>
        <div class="road" id="r61"></div>
        <div class="road" id="r62"></div>
        <div class="road" id="r63"></div>
        <div class="road" id="r64"></div>
        <div class="road" id="r65"></div>
        <div class="road" id="r66"></div>
        <div class="road" id="r67"></div>
        <div class="road" id="r68"></div>
        <div class="road" id="r69"></div>
        <div class="road" id="r70"></div>
        <div class="road" id="r71"></div>
    </div>
</body>
</html>