@model GameProjectApp.Models.GameLobby
@{
    ViewBag.Title = "GameLobby";
}

<h2>GameLobby</h2>

@Model.Message<br>

@Model.Id.ToString()<br>

<form action="GameLobby" method="POST">
    <input type="text" name="textbox1" value="write something">
    <input type="hidden" name="test" value="success">
    <input type="submit" value="POST More">

</form>
