
@{
    ViewBag.Title = "GameLogin";
}

<h2>GameLogin</h2>

<form action="Game" method="POST">
    <input type="hidden" name="FormType" value="newGame" />
    <input type="hidden" name="Players" value="5" />
    <input type="hidden" name="player1" value="someName1" />
    <input type="hidden" name="player2" value="someName2" />
    <input type="hidden" name="player3" value="someName3" />
    <input type="hidden" name="player4" value="someName4" />
    <input type="hidden" name="player5" value="someName5" />
    <input type="submit" name="Endturn" value="End your turn" />
</form>