@model GameProjectApp.Models.User
@{
    ViewBag.Title = "GameLobby";
}

<h2>GameLobby</h2>


@Model.Id.ToString()<br>

<form action="GameLobby" method="POST">
    <input type="text" name="textbox1" value="write something">
    <input type="hidden" name="test" value="success">
    <input type="submit" value="POST More">

</form>

<script type="text/javascript">
    function formSubmit(){
        document.getElementById("Refresh").submit();
        window.setTimeout(formSubmit, 1000);
    }

    window.onload=function(){
          window.setTimeout(formSubmit, 1000);
    };
</script>

<form action="GameLobby" method="POST" id="Refresh">
    <input type="hidden" name="poke" value="refresh">
</form>
