@model GameEngine.GameStateModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<!-- sandbox code for learning -->

<form action="login" method="POST">

    <input type="hidden" name="test" value="success">
    <input type="submit" value="Play Game">

</form>

<form action="Sandbox" method="POST">

    <input type="hidden" name="sandbox" value="1">
    <input type="submit" value="testYourPagehere">

</form>

<form action="Index" method="POST">

    <input type="hidden" name="sandbox" value="1">
    <input type="submit" value="debug button">

</form>

<!-- sandbox code for learning end -->