@model GameEngine.GameStateModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<!-- sandbox code for learning -->

<form action="GameLobby" method="POST">

    <input type="hidden" name="test" value="success">
    <input type="submit" value="POST1">

</form>

<form action="GameLobby" method="POST">

    <input type="hidden" name="joakim" value="joakimsSida">
    <input type="submit" value="POST1">

</form>

<!-- sandbox code for learning end -->