@model GameProjectApp.Models.DebugString
@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Standard.css">
</head>
<body>
    <h2>Index</h2>


    <form action="login" method="POST">

        <input type="hidden" name="test" value="success">
        <input type="submit" value="Play Game">

    </form>

    <form action="Index" method="POST">
        <input type="hidden" name="sandbox" value="1">
        <input type="submit" value="debug button">

    </form>


    <!-- sandbox code for learning -->


    <form action="Sandbox" method="POST">

        <input type="hidden" name="sandbox" value="1">
        <input type="submit" value="TestGame">

    </form>

</body>
<!-- sandbox code for learning end -->