@model GameEngine.GameStateModel
@{
    ViewBag.Title = "Index";
}

@Model.
<h2>Index</h2>
<form action="Game" method='POST'>
    <input type='hidden' name='player' value='1'>
    <input type='submit' name='Endturn' value='End your turn'>
</form>