
@{
    ViewBag.Title = "Login";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Standard.css">
</head>
<body>
    <div class="login-page">
        <p><big> Please enter a nickname </big> </p><br>
        @ViewBag.Message<br>
        <div class="form">
            <form action="BrowseLobby" class="login-form" method="post" id="loginForm">
                <input type="text" placeholder="Name" name="userName" />
                <button onclick="SubmitForm()" class="singlebutton">login</button>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    function SubmitForm() {
        document.getElementById("loginForm").SubmitForm();
    }


</script>