@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
    background-color: lightgrey;
}

.board {
	position: absolute;
    	top: 50px;
}
.harbor {
    position: absolute;
    top: -58px;
    left: 310px;
}
.hexPosition{
	height: 150px;
	position: absolute;
}
.hexRow1{
	top:0
}
.hexRow2{
	top:112
}
.hexRow3{
	top:224
}
.hexRow4{
	top:338
}
.hexRow5{
	top:452
}

#hexShape0 {	
    	left:500px;
}
#hexShape1 {
    	left:629px;
}
#hexShape2 {
    	left:758px;
}
#hexShape3 {
    	left:434px;
	top:112
}
#hexShape4 {
    	left:563px;
	top:112
}
#hexShape5 {
	left:692px;
	top:112
}
#hexShape6 {
    	left:821px;
	top:112
}
#hexShape7 {
    	left:371px;
	top:224
}
#hexShape8 {
    	left:500px;
	top:224
}
#hexShape9 {
    	left:629px;
	top:224
}
#hexShape10 {
    	left:758px;
	top:224
}
#hexShape11 {
    	left:887px;
	top:224
}
#hexShape12 {
    	left:434px;
	top:338
}
#hexShape13 {
    	left:563px;
	top:338
}
#hexShape14 {
    	left:692px;
	top:338
}
#hexShape15 {
    	left:821px;
	top:338
}
#hexShape16 {
    	left:500px;
	top:452
}
#hexShape17 {
    	left:629px;
	top:452
}
#hexShape18 {
    	left:758px;
	top:452
}

#resources {
    position: absolute;
    bottom: 300px;
    left: 0px;
    width: 250px;
}

#Wool {
    border: 3px solid black;
}

#Brick {
    border: 3px solid black;
}

#Ore {
    border: 3px solid black;
}

#Grain {
    border: 3px solid black;
}

#Wood {
    border: 3px solid black;
}

#Eventlog {

    font-family: “Roboto”, sans-serif;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 345px
 
   
}


.scroll {
    background-color: white;
    width: 350px;
    height: 200px;
    overflow: scroll;
}

.btn-group button {
    background-color: grey;
    border: 2px solid black;
    height: 50px;
    width: 70px;
    color: white; /* White text */
    padding: 5px 15px; /* Some padding */
    cursor: pointer /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}


.btn-group button:hover {
    background-color: #3e8e41;
}



#players {
    position: absolute;
    bottom: 0;
    right: 0px;
    border: 2px solid black;
}

td {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: center;
}

#player1 {
    width: 25px;
    height: 25px;
    background: lightblue;
}

#player2 {
    width: 25px;
    height: 25px;
    background: red;
}

#player3 {
    width: 25px;
    height: 25px;
    background: green;
}

#player4 {
    width: 25px;
    height: 25px;
    background: yellow;
}


#resourceInfo {
    border-collapse: separate;
    border-spacing: 20px;
    position: absolute;
    bottom: 348;
    left: 0px;
}



#resourceInfo0 {
    width: 40px;
    border: 3px solid black;
    background: white;
}

#resourceInfo1 {
    width: 40px;
    border: 3px solid black;
    background: white;
}

#resourceInfo2 {
    width: 40px;
    border: 3px solid black;
    background: white;
}

#resourceInfo3 {
    width: 40px;
    border: 3px solid black;
    background: white;
}

#resourceInfo4 {
    width: 40px;
    border: 3px solid black;
    background: white;
}

#want {
    position: absolute;
    background-color: lightgrey;
    width: 300px;
    border: 3px solid black;
    text-align: center;
    height: 20px;
    bottom: 275px;
    left: 2px;
}

#give {
    position: absolute;
    background-color: lightgrey;
    width: 300px;
    border: 3px solid black;
    text-align: center;
    height: 20px;
    bottom: 185px;
    left: 2px;
}

#plusMinus0 {
    position: absolute;
    bottom: 213px;
    left: 25px;
    text-align: center;
}

#plusMinus1 {
    position: absolute;
    bottom: 213px;
    left: 95px;
    text-align: center;
}

#plusMinus2 {
    position: absolute;
    bottom: 213px;
    left: 160px;
    text-align: center;
}

#plusMinus3 {
    position: absolute;
    bottom: 213px;
    left: 220px;
    text-align: center;
}

#plusMinus4 {
    position: absolute;
    bottom: 213px;
    left: 280px;
    text-align: center;
}


#plusMinus00 {
    position: absolute;
    bottom: 122px;
    left: 25px;
    text-align: center;
}

#plusMinus11 {
    position: absolute;
    bottom: 122px;
    left: 95px;
    text-align: center;
}

#plusMinus22 {
    position: absolute;
    bottom: 122px;
    left: 160px;
    text-align: center;
}

#plusMinus33 {
    position: absolute;
    bottom: 122px;
    left: 220px;
    text-align: center;
}

#plusMinus44 {
    position: absolute;
    bottom: 122px;
    left: 280px;
    text-align: center;
}

#tradeButton {
    position: absolute;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    bottom: 12px;
    left: 170px;
    height: 100px;
    width: 120px;
}

#playerBank {
    position: absolute;
    bottom: 1px;
    left: 20;
    background-color: lightgrey;
    border: 3px solid black;
    height: 90;
    width: 120;
}

#infoBox {
    position: absolute;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid black;
    height: 170px;
    top: 165px;
    left: 0px;
}

#citySettlement {
    position: absolute;
    right: 200px;
    bottom: 200px;
    border: ridge;
    background-color: lightgrey;


}

#settlementCity {
    position: absolute;
    right: 50px;
    bottom: 200px;
    border: ridge;
    background-color: lightgrey;
}

#settlementInfo {
    position: absolute;
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    right: 100px;
    bottom: 165px;
    text-align: center;
}

#cityInfo {
    position: absolute;
    background-color: lightgrey;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    right: 250px;
    bottom: 165px;
    text-align: center;
}

#playerName {
    position: absolute;
    right: 130px;
    bottom: 350px;
    border: 2px solid black;
    height: 50px;
    width: 100px;
    text-align: center;
    
}

.structureDot {
    position: absolute;
    width: 17px;
    height: 17px;
    /*opacity: 0.5;*/
    border-style: solid;
    border-radius: 50px;
    border-width: 4px;
    border-color: black;
}
#s0{
    top:30px;
    left:494px;
}
#s1{
    top:-5px;
    left:558px;
}
#s2{
    top:30px;
    left:622px;
}
#s3{
    top:-5px;
    left:686px;

}
#s4{
    top:30px;
    left:750px;
}
#s5{
    top:-5px;
    left:814px;
}
#s6{
    top:30px;
    left:878px;
}
#s7{
    top:140px;
    left:430px;
}
#s8{
    top:105px;
    left:494px;
}
#s9{
    top:140px;
    left:558px;
}
#s10{
    top:105px;
    left:622px;
}
#s11{
    top:140px;
    left:686px;
}
#s12{
    top:105px;
    left:750px;

}
#s13{
    top:140px;
    left:814px;
}
#s14{
    top:105px;
    left:878px;
}
#s15{
    top:140px;
    left:942px;
}
#s16{
    top:250px;
    left:366px;
}
#s17{
    top:215px;
    left:430px;
}
#s18{
    top:250px;
    left:494px;
}
#s19{
    top:215px;
    left:558px;
}
#s20{
    top:250px;
    left:622px;
}
#s21{
    top:215px;
    left:686px;

}
#s22{
    top:250px;
    left:750px;
}
#s23{
    top:215px;
    left:814px;
}
#s24{
    top:250px;
    left:878px;
}
#s25{
    top:215px;
    left:942px;
}
#s26{
    top:250px;
    left:1006px;
}
#s27{
    top:325px;
    left:366px;
}
#s28{
    top:360px;
    left:430px;
}
#s29{
    top:325px;
    left:494px;
}
#s30{
    top:360px;
    left:558px;

}
#s31{
    top:325px;
    left:622px;
}
#s32{
    top:360px;
    left:686px;
}
#s33{
    top:325px;
    left:750px;
}
#s34{
    top:360px;
    left:814px;
}
#s35{
    top:325px;
    left:878px;
}
#s36{
    top:360px;
    left:942px;
}
#s37{
    top:325px;
    left:1006px;
}
#s38{
    top:440px;
    left:430px;
}
#s39{
    top:475px;
    left:494px;

}
#s40{
    top:440px;
    left:558px;
}
#s41{
    top:475px;
    left:622px;
}
#s42{
    top:440px;
    left:686px;
}
#s43{
    top:475px;
    left:750px;
}
#s44{
    top:440px;
    left:814px;
}
#s45{
    top:475px;
    left:878px;
}
#s46{
    top:440px;
    left:942px;
}
#s47{
    top:550px;
    left:494px;
}
#s48{
    top:590px;
    left:558px;
}
#s49{
    top:550px;
    left:622px;

}
#s50{
    top:590px;
    left:686px;
}
#s51{
    top:550px;
    left:750px;
}
#s52{
    top:590px;
    left:814px;
}
#s53{
    top:550px;
    left:878px;
}
.road{
    width: 12px;
    height: 45px;
    background-color: transparant;
    border-style: solid;
    border-width: 1px;
    border-color: black;    
    position: absolute;
}
#r0 {
    top: -5px;
    left: 525px;
    transform: rotate(60deg);
}
#r1{     
    top:-5px;
    left: 590px;
    transform: rotate(-60deg);
}
#r2{     
    top:-5px;
    left:655px;
    transform: rotate(60deg);
}
#r3{     
    top:-5px;
    left: 720px;
    transform: rotate(-60deg);
}
#r4{     
    top:-5px;
    left:780px;
    transform: rotate(60deg);
}
#r5{     
    top:-5px;
    left: 850px;
    transform: rotate(-60deg);
}
#r6{     
    top:50px;
    left: 494px;
}
#r7{     
    top:50px;
    left:622px;
}
#r8{     
    top:50px;
    left:750px;
}
#r9{     
    top:50px;
    left:878px;
}
#r10{     
    top:105px;
    left: 460px;
    transform: rotate(60deg);
}
#r11{     
    top:105px;
    left: 525px;
    transform: rotate(-60deg);
}
#r12{     
    top:105px;
    left: 590px;
    transform: rotate(60deg);
}
#r13{     
    top:105px;
    left:655px;
    transform: rotate(-60deg);
}
#r14{     
    top:105px;
    left: 720px;
    transform: rotate(60deg);
}
#r15{     
    top:105px;
    left:780px;
    transform: rotate(-60deg);
}
#r16{     
    top:105px;
    left: 850px;
    transform: rotate(60deg);
}
#r17{     
    top:105px;
    left: 915px;
    transform: rotate(-60deg);
}
#r18{     
    top:162px;
    left: 430px;
}
#r19{     
    top:162px;
    left: 555px;
}
#r20{     
    top:162px;
    left: 685px;
}
#r21{     
    top:162px;
    left: 815px;
}
#r22{     
    top:162px;
    left: 945px;
}
#r23{     
    top:218px;
    left: 400px;
    transform: rotate(60deg);
}
#r24{     
    top:218px;
    left: 460px;
    transform: rotate(-60deg);
}
#r25{     
    top:218px;
    left: 525px;
    transform: rotate(60deg);
}
#r26{     
    top:218px;
    left: 590px;
    transform: rotate(-60deg);
}
#r27{     
    top:218px;
    left:655px;
    transform: rotate(60deg);
}
#r28{     
    top:218px;
    left: 720px;
    transform: rotate(-60deg);
}
#r29{     
    top:218px;
    left:780px;
    transform: rotate(60deg);
}
#r30{     
    top:218px;
    left: 850px;
    transform: rotate(-60deg);
}
#r31{     
    top:218px;
    left: 915px;
    transform: rotate(60deg);
}
#r32{     
    top:218px;
    left: 975px;
    transform: rotate(-60deg);
}
#r33{     
    top:275px;
    left: 365px;

}
#r34{     
    top:275px;
    left: 494px;
}
#r35{     
    top:275px;
    left:622px;
}
#r36{     
    top:275px;
    left:750px;
}
#r37{     
    top:275px;
    left:878px;
}
#r38{     
    top:275px;
    left: 1010px;
}
#r39{     
    top:330px;
    left: 400px;
    transform: rotate(-60deg);
}
#r40{     
    top:330px;
    left: 460px;
    transform: rotate(60deg);
}
#r41{     
    top:330px;
    left: 525px;
    transform: rotate(-60deg);
}
#r42{     
    top:330px;
    left: 590px;
    transform: rotate(60deg);
}
#r43{     
    top:330px;
    left:655px;
    transform: rotate(-60deg);
}
#r44{     
    top:330px;
    left: 720px;
    transform: rotate(60deg);
}
#r45{     
    top:330px;
    left:780px;
    transform: rotate(-60deg);
}
#r46{     
    top:330px;
    left: 850px;
    transform: rotate(60deg);
}
#r47{     
    top:330px;
    left: 915px;
    transform: rotate(-60deg);
}
#r48{     
    top:330px;
    left: 975px;
    transform: rotate(60deg);
}
#r49{     
    top:385px;
    left: 430px;
}
#r50{     
    top:385px;
    left: 555px;;
}
#r51{     
    top:385px;
    left: 685px;
}
#r52{     
    top:385px;
    left: 815px;
}
#r53{     
    top:385px;
    left: 945px;
}
#r54{     
    top:445px;
    left: 460px;
    transform: rotate(-60deg);
}
#r55{     
    top:445px;
    left: 525px;
    transform: rotate(60deg);
}
#r56{     
    top:445px;
    left: 590px;
    transform: rotate(-60deg);
}
#r57{     
    top:445px;
    left:655px;
    transform: rotate(60deg);
}
#r58{     
    top:445px;
    left: 720px;
    transform: rotate(-60deg);
}
#r59{     
    top:445px;
    left:780px;
    transform: rotate(60deg);
}
#r60{     
    top:445px;
    left: 850px;
    transform: rotate(-60deg);
}
#r61{     
    top:445px;
    left: 915px;
    transform: rotate(60deg);
}
#r62{     
    top:500px;
    left: 494px;
}
#r63{     
    top:500px;
    left:622px;
}
#r64{     
    top:500px;
    left:750px;
}
#r65{     
    top:500px;
    left:878px;
}
#r66{     
    top:558px;
    left: 525px;
    transform: rotate(-60deg);
}
#r67{     
    top:558px;
    left: 590px;
    transform: rotate(60deg);
}
#r68{     
    top:558px;
    left:655px;
    transform: rotate(-60deg);
}
#r69{     
    top:558px;
    left: 720px;
    transform: rotate(60deg);
}
#r70{     
    top:558px;
    left:780px;
    transform: rotate(-60deg);
}
#r71{     
    top:558px;
    left: 850px;
    transform: rotate(60deg);
}