html{
    background-color: lightgray;
}

.board {
	position: absolute;
    	top:50px;
}
.hexPosition{
	height: 150px;
	position: absolute;
}
.hexRow1{
	top:0
}
.hexRow2{
	top:112
}
.hexRow3{
	top:224
}
.hexRow4{
	top:338
}
.hexRow5{
	top:452
}

#hexShape0 {	
    	left:500px;
}
#hexShape1 {
    	left:629px;
}
#hexShape2 {
    	left:758px;
}
#hexShape3 {
    	left:434px;
	top:112
}
#hexShape4 {
    	left:563px;
	top:112
}
#hexShape5 {
	left:692px;
	top:112
}
#hexShape6 {
    	left:821px;
	top:112
}
#hexShape7 {
    	left:371px;
	top:224
}
#hexShape8 {
    	left:500px;
	top:224
}
#hexShape9 {
    	left:629px;
	top:224
}
#hexShape10 {
    	left:758px;
	top:224
}
#hexShape11 {
    	left:887px;
	top:224
}
#hexShape12 {
    	left:434px;
	top:338
}
#hexShape13 {
    	left:563px;
	top:338
}
#hexShape14 {
    	left:692px;
	top:338
}
#hexShape15 {
    	left:821px;
	top:338
}
#hexShape16 {
    	left:500px;
	top:452
}
#hexShape17 {
    	left:629px;
	top:452
}
#hexShape18 {
    	left:758px;
	top:452
}
